<!DOCTYPE html>
<html>
    <head><title>Menu</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  
    </head>
<body>
    <div class="intro">   
    
        
      <header>
        <nav>
    
          <div class="nav-wrapper">
            <a href="/menu" class="brand-logo">Menu</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/pessoas" class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Lista de Pessoas</a></li>
            <li><a href="/cadastrarPessoa" class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Cadastrar Pessoas</a></li>
            </ul>
          </div>
        </nav>
      </header>


<header>
<center> <h1><p>Doe sangue</p></h1>
    <style>
        body { 
            background-color:cornsilk;
        }
        </style>

</center>

</header>



<footer>
    <ul>
        <li ><img class="lin" src="imagens/linkedin.png"><a class="a2" href="https://www.linkedin.com/in/wagner-martins-5b798a160/"target="_blank" >Meu contato Linkedin</a></li><hr width = “2” size = “100”/>
        <li ><img class="lin" src="imagens/wk.jpg"><a class="a2" href="https://www.wkconsultoria.com.br/"target="_blank">Site oficial WK technology</a></li><hr width = “2” size = “100”/>
        <li ><img class="lin" src="imagens/git.png"><a class="a2" href="https://gitlab.com/wagnermartinssantana"target="_blank">Meu perfil GitLab</a></li><hr width = “2” size = “100”/>
        <li ><img class="lin" src="imagens/html5.png"><a class="a2"   href="#"target="_blank">copyright@2020 - WagnerMartins</a></li>
    
    </ul>

</footer>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      

</body>
</html>
